<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/"><%= application_title %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <% let unique = [...new Set(menuitems.map(item => item.dropdowngroup))]; %>
        <% unique.forEach(function(value) { %>
        <%  var filtered = menuitems.filter(function(item){ %>
        <%      return item.dropdowngroup == value;%>
        <%  });%>
            <% if(value != "") { %>
                <li class="nav-item dropdown float-md-left">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= value %>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% filtered.forEach(function(menuItem){ %>
                            <a class="dropdown-item" href="<%= menuItem.href %>"><%= menuItem.text %></a>
                        <% }); %>
                    </div>
                </li>
            <%} else{ %>
                <% filtered.forEach(function(menuItem){ %>
                    <% if(menuItem.active){ %>
                        <li class="nav-item active">
                            <a class="nav-link" href="<%= menuItem.href %>"><%= menuItem.text %> <span class="sr-only">(current)</span></a>
                        </li>
                    <% } else{ %>  
                        <li class="nav-item">
                            <a class="nav-link" href="<%= menuItem.href %>"><%= menuItem.text %></a>
                        </li>
                    <% } %>
                <% }); %>
            <% } %>
        <% });%>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>